@import '../../style/variables';

.results {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding-left: 0;
  overflow: hidden;

  & :last-child {
    border-bottom: none;
  }
}



