@import '../../style/variables';

.results {
  @include flexed(flex-start, flex-start);
  flex-direction: column;

  & :last-child {
    border-bottom: none;
  }

  @include adapt($small) {
    padding-left: 15px;
  }
}
