@import '../../style/variables';

.length-warning {
  position: absolute;
  bottom: -20px;
  left: 15px;
  font-size: 12px;
  color: $dark-color;
  animation-duration: 1s;
  animation-name: slidein;
}

@keyframes slidein {
  50% {
    font-size: 13px;
    text-decoration: underline;
  }
}
