@import '../../style/variables';

.header {
   flex: 0 0 auto;
   @include flexed;
   min-height: 55px;
}

a:link,
a:visited,
a:active,
:hover { 
   text-decoration: none;
}

.title {
   @include flexed(space-between);
}

.title-img {
   display: block;
   fill: $dark-color;
}

.title-text {
   display: block;
   font-size: 28px;
   font-weight: 400;
   padding: 5px;
   color: $dark-color;
   user-select: none;

   &:visited,
   &:active,
   &:hover {
      text-decoration: none;
      color: $dark-color;
   }
}

@include adapt($small) {
   .title-text {
      font-size: 22px;
   }
 }
