@import '../../style/variables';

.result {
  width: 100%;
  max-width: 60vw;
  border-bottom: 1px solid lighten($dark-color, 20%);

  &::marker {
    font-size: 12px;
    color: lighten($dark-color, 10%);
  }
}

.container {
  @include flexed(flex-start, flex-start);
  flex-direction: column;
  padding: 10px;
  border-radius: $border-radius;

  & div {
    position: relative;
  }
}

.name {
  width: 100%;
  max-width: 70vw;
  font-size: 14px;
  font-weight: bold;
  color: $dark-color;
  word-wrap: break-word;
  cursor: pointer;

  &:active,
  &:visited,
  &:hover {
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }
}

.description{
  max-width: 65vw;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 12px;
  color: $dark-color;
  word-wrap: break-word;
}

.message {
  margin-top: 50px;
  font-size: 18px;
  align-self: center;
  color: $dark-color;
  user-select: none;
}

@include adapt($small) {
  .result {
    max-width: 75vw;
  }
}
