@import '../../style/variables';

.footer {
  @include flexed;
  min-height: 55px;
  max-width: 100%;
  font-size: 18px;
  font-weight: bold;
  color: $dark-color;
  user-select: none;

  @include adapt($small) {
    min-height: 35px;
    font-size: 14px;
  }
}
