@import '../../style/variables';

.container {
  @include flexed(flex-start);
  flex-direction: column;
  width: 100%;
  padding: 30px;
  border-radius: $border-radius;
  box-shadow: 0 10px 20px 0 $dark-color;
}

.form {
  @include flexed;
  gap: 50px;
  min-height: max-content;
  height: 100px;

  & div {
    position: relative;
  }
}

.name {
  font-size: 14px;
  height: 50px;
  max-width: 80vw;
  width: 400px;
  padding-left: 15px;

  border: none;
  border-radius: $border-radius;
  color: $dark-color;
  font-size: 16px;
  font-weight: bolder;
  background-color: lighten($dark-color, 50%);
  
  &::placeholder {
    color: lighten($dark-color, 20%);
  }

  &:focus {
    outline: none;
  }
}

.text {
  width: 500px;
  height: 100px;
}

.submit {
  height: 50px;
  width: 120px;
  outline: none;
  border-radius: $border-radius;
  background-color: $dark-color;
  color: $light-color;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    border: 1px solid $dark-color;
    background-color: $light-color;
    color: $dark-color;
    box-shadow: 0 10px 20px 0 $dark-color;
    transition: all 0.3s;
  }

  &:active {
    height: 48px;
  }
}

.text {
  font-size: 18px;
}

@include adapt($small) {
  .container {
    padding: 10px;
  }

  .form {
    flex-direction: column;
    gap: 30px;
    height: 150px;
  }
}
